@model Product
<div class="card mb-2">
    <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/apple/thumb/108883-anaaa_large.jpg" class="card-img-top"
        alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>