@model ProductViewModel
@{
    var products = @Model.Products;
}
@section Categories{
@await Component.InvokeAsync("Categories")
}
<div class="row row-cols-3 row-cols-md-3">

    @if (!products.Any())
    {
        @await Html.PartialAsync("_noProduct")
    }
    else
    {
        @foreach (var product in products)
        {
            <div class="col mb-4 ">
                @await Html.PartialAsync("_product",product)
            </div>
        }
    }
</div>
