@model ProductListViewModel
@{
    var products = @Model.Products;
}

@await Component.InvokeAsync("Categories")

<div class="row">
    @if (!products.Any())
    {
        @await Html.PartialAsync("_noProduct")
    }
    else
    {
        @foreach (var product in products)
        {
            <div class="col-12 col-md-6 col-xl-4 mb-2 ">
                @await Html.PartialAsync("_product",product)
            </div>
        }
    }
</div>
